name: PHP CI/CD

on:
  push:
    branches: [main]

jobs:
  build-and-push:
    runs-on: self-hosted  # this makes the job run on your local machine

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Your remaining steps...
